body {
 margin: 0px;
 padding-top: 100px0px;
 background-color: black;
}

.bg {
    background-image: url('stonesStackedGrey.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#myPic{
    align-content: center;
    align-items: center;
}

#resumeHead{
    align-content: center;
    align-items: center;
    text-align: center;
}

#resBody {
    background-color: gray;
    padding: 25px;
    border: 5px solid black;
    border-radius: 90px;
    font-family: fantasy;
}

#jobTitle{
    text-decoration: underline;
}

#headerBlock{
    color: white;
    font-family: fantasy;
    background-color: black;
    height: 100 px;
    margin: 0px;
    text-align: center;
    padding: 20px;
    word-spacing: 10em;
}

a:visited{
    color: white;
}

a:link{
    color: white;
}

a:hover{
    background-color: white;
    color: black;
}

#titleSplash{
    font-family: fantasy;
    font-size: xx-large;
    text-align: center;
    padding: 40px;
    border-radius: 90px;
    border-color: black;
}

